.social-icon{
  padding: 5px ;
  transition: 0.4s ease all;
  background-color: $darkColour;
  color: white;
  margin: 0 5px;
  &.facebook:hover{
    background-color: $facebookColour;
  }

  &.twitter:hover{
    background-color: $twitterColour;
  }

  &.google:hover{
    background-color: $googlePlusColour;
  }

  &.youtube:hover{
    background-color: $youtubeColour;
  }
  &.linkedin:hover{
    background-color: $linkedinColour;
  }

  &.github:hover{
    background-color: $githubColour;
  }
  &.stack-overflow:hover{
    background-color: $stackOverflowColour;
  }
}
